body {
    background-color: darkblue;
    color: white;
}

section {
    float: left;
    width: 100%;
}

.image-caption {
    display: block;
    font-style: italic;
}

.images {
    float: left;
    border: 5px solid white; 
    padding: 10px;
    margin-right: 10px;
}

.section-text {
}

